
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<WebApplication.Models.ArticleDataModel>
<!-- Hero Banner start -->
<div class="page-title-banner">
    <div class="container">
        <div class="left-right-image">
            <img src="~/assets/media/page-title-banner/img-1.png"
                 class="left-img" alt>
            <img src="~/assets/media/page-title-banner/img-2.png"
                 class="right-img" alt>
        </div>
        <div class="content">
            <div class="title">
                <h2>Blog Listing</h2>
            </div>
        </div>
    </div>
</div>

<!-- Main Content Start -->
<div class="page-content">

    <!-- Blog Start -->
    <section class="blog p-96">
        <div class="container">
            <div class="card mb-0">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs gap-75 mb-32" data-bs-tabs="tabs">
                        <li class="nav-item">
                            <a href="#all" class="active" aria-current="true" data-bs-toggle="tab">All Time</a>
                        </li>
                        <li class="nav-item">
                            <a href="#week" aria-current="false" data-bs-toggle="tab">This Week</a>
                        </li>
                        <li class="nav-item">
                            <a href="#month" aria-current="false" data-bs-toggle="tab">This Month</a>
                        </li>
                        <li class="nav-item">
                            <a href="#half-year" aria-current="false" data-bs-toggle="tab">Last 6 Months </a>
                        </li>
                        <li class="nav-item">
                            <a href="#year" aria-current="false" data-bs-toggle="tab">Last Year</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body tab-content">
                    <div class="tab-pane active" id="all">
                        <div class="row">
                            @if (Model != null && Model.Any())
                            {
                                foreach (var article in Model)
                                {
                                    <div class="col-lg-4 col-md-6">
                                        <div class="blog-card mb-32">
                                            <img src="@article.ImagePath" class="w-100" alt="">
                                            <div class="content">
                                                <h4 class="color-black h-27 mb-16">@article.ArticleName</h4>
                                                <div class="name-btn">
                                                    <div class="name">
                                                        <p class="medium-black">@article.AuthorName</p>
                                                    </div>
                                                    <a href="@Url.Action("BlogDetail", "Home", new { articleId = article.ArticleId })" class="light-btn primary">Read More <i class="far fa-angle-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="tab-pane" id="week">
                        <div class="row">
                            @if (Model != null && Model.Any(a => a.Category == "This Week"))
                            {
                                foreach (var article in Model.Where(a => a.Category == "This Week"))
                                {
                                    <div class="col-lg-4 col-md-6">
                                        <div class="blog-card mb-32">
                                            <img src="@article.ImagePath" class="w-100" alt="">
                                            <div class="content">
                                                <h4 class="color-black h-27 mb-16">@article.ArticleName</h4>
                                                <div class="name-btn">
                                                    <div class="name">
                                                        <p class="medium-black">@article.AuthorName</p>
                                                    </div>
                                                    <a href="@Url.Action("BlogDetail", "Home", new { articleId = article.ArticleId })" class="light-btn primary">Read More <i class="far fa-angle-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <p>No articles found in this category.</p>
                            }
                        </div>
                    </div>
                    <div class="tab-pane" id="month">
                        <div class="row">
                            @if (Model != null && Model.Any(a => a.Category == "This Month"))
                            {
                                foreach (var article in Model.Where(a => a.Category == "This Month"))
                                {
                                    <div class="col-lg-4 col-md-6">
                                        <div class="blog-card mb-32">
                                            <img src="@article.ImagePath" class="w-100" alt="">
                                            <div class="content">
                                                <h4 class="color-black h-27 mb-16">@article.ArticleName</h4>
                                                <div class="name-btn">
                                                    <div class="name">
                                                        <p class="medium-black">@article.AuthorName</p>
                                                    </div>
                                                    <a href="@Url.Action("BlogDetail", "Home", new { articleId = article.ArticleId })" class="light-btn primary">Read More <i class="far fa-angle-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <p>No articles found in this category.</p>
                            }
                        </div>
                    </div>
                    <div class="tab-pane" id="half-year">
                        <div class="row">
                            @if (Model != null && Model.Any(a => a.Category == "Last 6 Months"))
                            {
                                foreach (var article in Model.Where(a => a.Category == "Last 6 Months"))
                                {
                                    <div class="col-lg-4 col-md-6">
                                        <div class="blog-card mb-32">
                                            <img src="@article.ImagePath" class="w-100" alt="">
                                            <div class="content">
                                                <h4 class="color-black h-27 mb-16">@article.ArticleName</h4>
                                                <div class="name-btn">
                                                    <div class="name">
                                                        <p class="medium-black">@article.AuthorName</p>
                                                    </div>
                                                    <a href="@Url.Action("BlogDetail", "Home", new { articleId = article.ArticleId })" class="light-btn primary">Read More <i class="far fa-angle-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <p>No articles found in this category.</p>
                            }
                        </div>
                    </div>
                    <div class="tab-pane" id="year">
                        <div class="row">
                            @if (Model != null && Model.Any(a => a.Category == "Last Year"))
                            {
                                foreach (var article in Model.Where(a => a.Category == "Last Year"))
                                {
                                    <div class="col-lg-4 col-md-6">
                                        <div class="blog-card mb-32">
                                            <img src="@article.ImagePath" class="w-100" alt="">
                                            <div class="content">
                                                <h4 class="color-black h-27 mb-16">@article.ArticleName</h4>
                                                <div class="name-btn">
                                                    <div class="name">
                                                        <p class="medium-black">@article.AuthorName</p>
                                                    </div>
                                                    <a href="@Url.Action("BlogDetail", "Home", new { articleId = article.ArticleId })" class="light-btn primary">Read More <i class="far fa-angle-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <p>No articles found in this category.</p>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <ul class="pagination">
                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Blog", new { page = i })">@i</a>
                    </li>
                }
            </ul>
        </div>
    </section>
    <!-- Blog End -->

</div>
<!-- Main Content End -->
