<!-- add model BusinessObjects.UserBO-->

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model WebApplication.Models.ProductModel
<!-- Hero Banner start -->
<div class="hero-banner-2">
    <div class="container">
        <div class="content">
            <div class="title mb-32">
                <h2 class="h-61 bold color-white">WONDER & EXCITEMENT</h2>
                <p class="color-white">
                    Discover the joy of play with our wide selection of toys for children of all ages.<br> Thank you for visiting the Online Toy Store. Happy shopping, and may your adventures in play begin!
                </p>
            </div>
            <a href="/Home/ShopListing" class="cus-btn primary">Shop Now</a>
        </div>
    </div>
</div>

<!-- Main Content Start -->
<div class="page-content">

    <!-- services Start -->
    <div class="services p-96">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 mb-24 mb-lg-0">
                    <img src="~/assets/media/services/free-shipping.png" class="w-100 br-30" alt="">
                </div>
                <div class="col-lg-3 col-sm-6 mb-24 mb-lg-0">
                    <img src="~/assets/media/services/money-guarantee.png" class="w-100 br-30" alt="">
                </div>
                <div class="col-lg-3 col-sm-6 mb-24 mb-sm-0">
                    <img src="~/assets/media/services/online-support.png" class="w-100 br-30" alt="">
                </div>
                <div class="col-lg-3 col-sm-6 mb-24 mb-0">
                    <img src="~/assets/media/services/flexible-payment.png" class="w-100 br-30" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- services Start -->
    <!-- Top Seller Start -->
    <section class="top-seller">
        <div class="container">
            <div class="heading mb-48 text-center">
                <h2>Trendy Toys</h2>
            </div>
            <div class="product">
                <div class="row mb-16">
                    @{
                        var productTable = Model.dataForTable();

                        foreach (var product in productTable)
                        {
                            if (product != null && product.IsActive && product.SellCategory.Equals("Top Sellers"))
                            {
                                <div class="col-xl-3 col-lg-4 col-sm-6">
                                    <div class="product-card mb-32 mb-sm-0">
                                        <div class="img-block">
                                            <img src="@product.ImagePath" alt="" style="width: 100%; height: auto;">
                                        </div>
                                        <div class="content">
                                            <div class="name-price">
                                                <div class="product-name">
                                                    <h5 style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@product.ProductName</h5>
                                                </div>
                                                <div class="product-price">
                                                    <h5 class="bold">– $@product.Price</h5>
                                                </div>
                                            </div>
                                            <a href="./cart.html" class="cus-btn primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            }

                        }

                    }

                </div>
                <div class="d-flex justify-content-center">
                    <a href="@Url.Action("ShopListing", "Home")" class="cus-btn primary">Discover More </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Top Seller End -->
    <!-- Product Cards Start -->
    <section class="product-card p-96">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-24 mb-lg-0">
                    <a href=@Url.Action("ShopListing", "Home") class="cards w-100">
                        <img src="~/assets/media/cards/card-1.png" class="w-100" alt="">
                        <h3 class="h-47 bold color-white">LEGO BRICKS</h3>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 mb-24 mb-lg-0">
                    <a href=@Url.Action("ShopListing", "Home") class="cards w-100">
                        <img src="~/assets/media/cards/card-2.png" class="w-100" alt="">
                        <h3 class="h-47 bold color-white">TOY CARS</h3>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 offset-lg-0 offset-sm-3">
                    <a href=@Url.Action("ShopListing", "Home") class="cards w-100">
                        <img src="~/assets/media/cards/card-3.png" class="w-100" alt="">
                        <h3 class="h-47 bold color-white">FLUFFY TOYS</h3>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Cards End -->
    <!-- Sales Start -->
    <section class="sales-product">
        <div class="container">
            <div class="d-flex flex-xl-row flex-column  gap-4">
                <div class="product st-2">
                    @{
                        int count = 0;

                        foreach (var product in productTable)
                        {
                            if (count >= 4) // Проверяем, отобразили ли уже 4 элемента
                            {
                                break; // Если отобразили, прерываем цикл
                            }

                            if (product != null && product.IsActive && product.SellCategory.Equals("On Sales"))
                            {
                                <div class="product-card sec">
                                    <div class="img-block">
                                        <img src=@product.ImagePath alt="">
                                    </div>
                                    <div class="content">
                                        <div class="name-price">
                                            <div class="product-name">
                                                <h5>@product.ProductName</h5>
                                            </div>
                                            <div class="product-price">
                                                <h5 class="bold">– $@product.Price</h5>
                                            </div>
                                        </div>
                                        <div class="btn-block">
                                            <a href="@Url.Action("LogIn", "Login")" class="cus-btn primary">Add to Cart</a>
                                            <a href="@Url.Action("LogIn", "Login")" class="list-btn">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32" fill="none">
                                                    <path d="M23.0934 30.0157C21.3265 28.717 19.7065 27.2294 18.2623 25.5794C17.3054 24.5356 16.5151 23.3504 15.9194 22.0657C15.5999 21.4343 15.4282 20.7384 15.4174 20.0309C15.4067 19.3234 15.557 18.6227 15.8572 17.9818C16.1753 17.3315 16.6488 16.7696 17.2358 16.3458C17.8228 15.922 18.5052 15.6494 19.2227 15.552C19.9401 15.4547 20.6705 15.5356 21.3493 15.7876C22.028 16.0397 22.6341 16.4551 23.1141 16.9971L23.2592 17.163C23.5194 16.9005 23.7927 16.6514 24.0782 16.4167C24.6809 15.9523 25.3941 15.6528 26.1477 15.5474C26.9013 15.4421 27.6693 15.5346 28.3762 15.8159C29.0832 16.0972 29.7048 16.5575 30.18 17.1517C30.6551 17.7459 30.9675 18.4535 31.0863 19.2049C31.1341 19.4402 31.155 19.6801 31.1485 19.9201C31.1365 20.2121 31.1054 20.5029 31.0552 20.7908C30.7532 22.023 30.1951 23.1778 29.4172 24.1801C27.7311 26.4 25.734 28.3653 23.4873 30.0157H23.0934ZM23.28 28.6475C24.7797 27.4603 26.1678 26.1384 27.4268 24.6984C28.255 23.8021 28.953 22.7937 29.5002 21.7029C29.89 20.9731 30.0319 20.1364 29.9045 19.3189C29.7827 18.6695 29.4618 18.0741 28.9862 17.6153C28.5106 17.1566 27.904 16.8572 27.2505 16.7587C26.5771 16.6498 25.8864 16.7654 25.2851 17.0875C24.6838 17.4097 24.205 17.9206 23.9227 18.5415C23.879 18.6677 23.7982 18.7777 23.6909 18.8573C23.5837 18.9368 23.4549 18.9821 23.3214 18.9872C23.0104 18.9872 22.8445 18.8007 22.7098 18.5312C22.466 18.004 22.0794 17.5557 21.5939 17.237C21.1083 16.9182 20.5432 16.7417 19.9625 16.7276C19.5006 16.7022 19.0387 16.7802 18.6107 16.9559C18.1827 17.1316 17.7993 17.4005 17.4884 17.7431C17.1776 18.0857 16.9471 18.4933 16.8137 18.9363C16.6804 19.3792 16.6476 19.8464 16.7177 20.3036C16.8314 20.9124 17.0303 21.5021 17.3086 22.0553C17.9155 23.1933 18.6798 24.2401 19.5789 25.1648C20.7118 26.4211 21.9424 27.5856 23.2592 28.6475H23.28Z" fill="#2C2D2F" />
                                                    <path d="M22.606 2.21657L23.3939 6.20715L24.7313 12.8305C24.7707 12.9543 24.7751 13.0867 24.744 13.2129C24.7129 13.3391 24.6475 13.4543 24.555 13.5457C24.4736 13.626 24.3712 13.6818 24.2596 13.7068C24.148 13.7319 24.0316 13.7251 23.9236 13.6874C23.8156 13.6496 23.7204 13.5823 23.6488 13.4931C23.5771 13.4039 23.5319 13.2965 23.5183 13.1829C23.3006 12.1464 23.1036 11.1099 22.8963 10.0734C22.4125 7.62718 21.9218 5.18793 21.4242 2.75558C21.3516 2.3617 21.2065 2.24767 20.8125 2.21657H7.86415C7.15919 2.21657 7.05554 2.29951 6.92076 2.98361L3.37525 20.6665C3.25085 21.2781 3.48927 21.5579 4.12166 21.5579H12.1146C12.2354 21.5476 12.3567 21.5476 12.4775 21.5579C12.622 21.577 12.7547 21.648 12.8509 21.7576C12.947 21.8673 13 22.0081 13 22.1539C13 22.2997 12.947 22.4405 12.8509 22.5502C12.7547 22.6598 12.622 22.7308 12.4775 22.7499H4.05946C3.77678 22.7665 3.49416 22.7164 3.23446 22.6035C2.97476 22.4907 2.74529 22.3183 2.5646 22.1003C2.38392 21.8823 2.2571 21.6248 2.19441 21.3487C2.13173 21.0726 2.13493 20.7857 2.20378 20.511L5.37608 4.63166C5.52121 3.9372 5.65598 3.23237 5.79075 2.55864C5.86148 2.11485 6.09267 1.71245 6.44046 1.42777C6.78825 1.14309 7.22845 0.995952 7.67755 1.01425H25.6747C26.1183 0.995903 26.5533 1.14086 26.8972 1.42166C27.2411 1.70247 27.4701 2.09964 27.5407 2.53792C28.2353 5.98951 28.9195 9.45146 29.6141 12.903C29.6424 12.986 29.6529 13.074 29.6448 13.1613C29.6367 13.2485 29.6103 13.3331 29.5672 13.4094C29.5241 13.4858 29.4654 13.5521 29.3949 13.6042C29.3244 13.6563 29.2436 13.6928 29.158 13.7115C29.0739 13.7262 28.9876 13.7234 28.9046 13.7033C28.8216 13.6832 28.7437 13.6462 28.6756 13.5947C28.6075 13.5431 28.5508 13.4782 28.5089 13.4037C28.4671 13.3293 28.441 13.2471 28.4323 13.1622C28.028 11.1617 27.634 9.1716 27.2297 7.17113C26.9394 5.72002 26.6595 4.26888 26.3693 2.81777C26.2967 2.44462 26.1101 2.2477 25.7783 2.2477C24.7002 2.20624 23.6635 2.21657 22.606 2.21657Z" fill="#2C2D2F" />
                                                    <path d="M9.37781 5.71966C9.37781 5.17031 9.37781 4.62096 9.37781 4.07161C9.36906 3.98896 9.37784 3.90539 9.40359 3.82637C9.42935 3.74734 9.47148 3.67467 9.52725 3.61304C9.58302 3.55141 9.65118 3.50224 9.72725 3.46874C9.80332 3.43523 9.8856 3.41814 9.96872 3.4186C10.0521 3.41378 10.1355 3.42702 10.2133 3.45738C10.2911 3.48774 10.3615 3.53452 10.4195 3.59454C10.4776 3.65456 10.522 3.72642 10.5498 3.80517C10.5775 3.88393 10.588 3.96773 10.5804 4.05089C10.5804 4.99411 10.5804 5.93732 10.5804 6.88055C10.564 7.35696 10.6417 7.83193 10.809 8.27833C10.9762 8.72472 11.2298 9.13381 11.5552 9.48224C11.8805 9.83066 12.2714 10.1116 12.7054 10.309C13.1393 10.5064 13.6079 10.6164 14.0844 10.6327C14.5609 10.6491 15.036 10.5714 15.4824 10.4042C15.9289 10.237 16.3381 9.98346 16.6866 9.65814C17.0351 9.33282 17.316 8.94206 17.5135 8.50816C17.7109 8.07427 17.821 7.60574 17.8373 7.12933C17.8373 6.09282 17.8373 5.1185 17.8373 4.12345C17.8222 3.99038 17.849 3.85589 17.9141 3.73881C17.9791 3.62173 18.0791 3.52791 18.2001 3.47044C18.2851 3.42551 18.3799 3.40236 18.476 3.4031C18.5721 3.40384 18.6666 3.42845 18.7509 3.47468C18.8351 3.52092 18.9066 3.58735 18.9588 3.66802C19.0111 3.74869 19.0425 3.84106 19.0502 3.93686C19.17 5.38558 19.1178 6.84339 18.8947 8.27985C18.6178 9.3614 17.9739 10.3133 17.073 10.973C16.1721 11.6326 15.0701 11.9591 13.9552 11.8967C12.8403 11.8343 11.7817 11.3869 10.9601 10.6308C10.1385 9.87472 9.60485 8.85695 9.45037 7.75125C9.35707 7.07751 9.38818 5.71966 9.37781 5.71966Z" fill="#2C2D2F" />
                                                    <path d="M23.0934 30.0157C21.3265 28.717 19.7065 27.2294 18.2623 25.5794C17.3054 24.5356 16.5151 23.3504 15.9194 22.0657C15.5999 21.4343 15.4282 20.7384 15.4174 20.0309C15.4067 19.3234 15.557 18.6227 15.8572 17.9818C16.1753 17.3315 16.6488 16.7696 17.2358 16.3458C17.8228 15.922 18.5052 15.6494 19.2227 15.552C19.9401 15.4547 20.6705 15.5356 21.3493 15.7876C22.028 16.0397 22.6341 16.4551 23.1141 16.9971L23.2592 17.163C23.5194 16.9005 23.7927 16.6514 24.0782 16.4167C24.6809 15.9523 25.3941 15.6528 26.1477 15.5474C26.9013 15.4421 27.6693 15.5346 28.3762 15.8159C29.0832 16.0972 29.7048 16.5575 30.18 17.1517C30.6551 17.7459 30.9675 18.4535 31.0863 19.2049C31.1341 19.4402 31.155 19.6801 31.1485 19.9201C31.1365 20.2121 31.1054 20.5029 31.0552 20.7908C30.7532 22.023 30.1951 23.1778 29.4172 24.1801C27.7311 26.4 25.734 28.3653 23.4873 30.0157H23.0934ZM23.28 28.6475C24.7797 27.4603 26.1678 26.1384 27.4268 24.6984C28.255 23.8021 28.953 22.7937 29.5002 21.7029C29.89 20.9731 30.0319 20.1364 29.9045 19.3189C29.7827 18.6695 29.4618 18.0741 28.9862 17.6153C28.5106 17.1566 27.904 16.8572 27.2505 16.7587C26.5771 16.6498 25.8864 16.7654 25.2851 17.0875C24.6838 17.4097 24.205 17.9206 23.9227 18.5415C23.879 18.6677 23.7982 18.7777 23.6909 18.8573C23.5837 18.9368 23.4549 18.9821 23.3214 18.9872C23.0104 18.9872 22.8445 18.8007 22.7098 18.5312C22.466 18.004 22.0794 17.5557 21.5939 17.237C21.1083 16.9182 20.5432 16.7417 19.9625 16.7276C19.5006 16.7022 19.0387 16.7802 18.6107 16.9559C18.1827 17.1316 17.7993 17.4005 17.4884 17.7431C17.1776 18.0857 16.9471 18.4933 16.8137 18.9363C16.6804 19.3792 16.6476 19.8464 16.7177 20.3036C16.8314 20.9124 17.0303 21.5021 17.3086 22.0553C17.9155 23.1933 18.6798 24.2401 19.5789 25.1648C20.7118 26.4211 21.9424 27.5856 23.2592 28.6475H23.28Z" stroke="#2C2D2F" stroke-width="0.5" />
                                                    <path d="M22.606 2.21657L23.3939 6.20715L24.7313 12.8305C24.7707 12.9543 24.7751 13.0867 24.744 13.2129C24.7129 13.3391 24.6475 13.4543 24.555 13.5457C24.4736 13.626 24.3712 13.6818 24.2596 13.7068C24.148 13.7319 24.0316 13.7251 23.9236 13.6874C23.8156 13.6496 23.7204 13.5823 23.6488 13.4931C23.5771 13.4039 23.5319 13.2965 23.5183 13.1829C23.3006 12.1464 23.1036 11.1099 22.8963 10.0734C22.4125 7.62718 21.9218 5.18793 21.4242 2.75558C21.3516 2.3617 21.2065 2.24767 20.8125 2.21657H7.86415C7.15919 2.21657 7.05554 2.29951 6.92076 2.98361L3.37525 20.6665C3.25085 21.2781 3.48927 21.5579 4.12166 21.5579H12.1146C12.2354 21.5476 12.3567 21.5476 12.4775 21.5579C12.622 21.577 12.7547 21.648 12.8509 21.7576C12.947 21.8673 13 22.0081 13 22.1539C13 22.2997 12.947 22.4405 12.8509 22.5502C12.7547 22.6598 12.622 22.7308 12.4775 22.7499H4.05946C3.77678 22.7665 3.49416 22.7164 3.23446 22.6035C2.97476 22.4907 2.74529 22.3183 2.5646 22.1003C2.38392 21.8823 2.2571 21.6248 2.19441 21.3487C2.13173 21.0726 2.13493 20.7857 2.20378 20.511L5.37608 4.63166C5.52121 3.9372 5.65598 3.23237 5.79075 2.55864C5.86148 2.11485 6.09267 1.71245 6.44046 1.42777C6.78825 1.14309 7.22845 0.995952 7.67755 1.01425H25.6747C26.1183 0.995903 26.5533 1.14086 26.8972 1.42166C27.2411 1.70247 27.4701 2.09964 27.5407 2.53792C28.2353 5.98951 28.9195 9.45146 29.6141 12.903C29.6424 12.986 29.6529 13.074 29.6448 13.1613C29.6367 13.2485 29.6103 13.3331 29.5672 13.4094C29.5241 13.4858 29.4654 13.5521 29.3949 13.6042C29.3244 13.6563 29.2436 13.6928 29.158 13.7115C29.0739 13.7262 28.9876 13.7234 28.9046 13.7033C28.8216 13.6832 28.7437 13.6462 28.6756 13.5947C28.6075 13.5431 28.5508 13.4782 28.5089 13.4037C28.4671 13.3293 28.441 13.2471 28.4323 13.1622C28.028 11.1617 27.634 9.1716 27.2297 7.17113C26.9394 5.72002 26.6595 4.26888 26.3693 2.81777C26.2967 2.44462 26.1101 2.2477 25.7783 2.2477C24.7002 2.20624 23.6635 2.21657 22.606 2.21657Z" stroke="#2C2D2F" stroke-width="0.5" />
                                                    <path d="M9.37781 5.71966C9.37781 5.17031 9.37781 4.62096 9.37781 4.07161C9.36906 3.98896 9.37784 3.90539 9.40359 3.82637C9.42935 3.74734 9.47148 3.67467 9.52725 3.61304C9.58302 3.55141 9.65118 3.50224 9.72725 3.46874C9.80332 3.43523 9.8856 3.41814 9.96872 3.4186C10.0521 3.41378 10.1355 3.42702 10.2133 3.45738C10.2911 3.48774 10.3615 3.53452 10.4195 3.59454C10.4776 3.65456 10.522 3.72642 10.5498 3.80517C10.5775 3.88393 10.588 3.96773 10.5804 4.05089C10.5804 4.99411 10.5804 5.93732 10.5804 6.88055C10.564 7.35696 10.6417 7.83193 10.809 8.27833C10.9762 8.72472 11.2298 9.13381 11.5552 9.48224C11.8805 9.83066 12.2714 10.1116 12.7054 10.309C13.1393 10.5064 13.6079 10.6164 14.0844 10.6327C14.5609 10.6491 15.036 10.5714 15.4824 10.4042C15.9289 10.237 16.3381 9.98346 16.6866 9.65814C17.0351 9.33282 17.316 8.94206 17.5135 8.50816C17.7109 8.07427 17.821 7.60574 17.8373 7.12933C17.8373 6.09282 17.8373 5.1185 17.8373 4.12345C17.8222 3.99038 17.849 3.85589 17.9141 3.73881C17.9791 3.62173 18.0791 3.52791 18.2001 3.47044C18.2851 3.42551 18.3799 3.40236 18.476 3.4031C18.5721 3.40384 18.6666 3.42845 18.7509 3.47468C18.8351 3.52092 18.9066 3.58735 18.9588 3.66802C19.0111 3.74869 19.0425 3.84106 19.0502 3.93686C19.17 5.38558 19.1178 6.84339 18.8947 8.27985C18.6178 9.3614 17.9739 10.3133 17.073 10.973C16.1721 11.6326 15.0701 11.9591 13.9552 11.8967C12.8403 11.8343 11.7817 11.3869 10.9601 10.6308C10.1385 9.87472 9.60485 8.85695 9.45037 7.75125C9.35707 7.07751 9.38818 5.71966 9.37781 5.71966Z" stroke="#2C2D2F" stroke-width="0.5" />
                                                </svg>
                                            </a>
                                            <a href="@Url.Action("ProductDetail", "Home", new { productId = product.ProductId })" class="list-btn">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                                                    <g clip-path="url(#clip0_1109_1878)">
                                                        <path d="M31.8026 15.4416C31.517 15.123 24.6467 7.62939 16.0415 7.62939C7.43641 7.62939 0.56616 15.123 0.280473 15.4416C-0.0381523 15.7977 -0.0381523 16.3361 0.280473 16.6922C0.56616 17.0108 7.43653 24.5044 16.0415 24.5044C24.6465 24.5044 31.5169 17.0108 31.8026 16.6922C32.1212 16.3361 32.1212 15.7977 31.8026 15.4416ZM16.0415 22.6294C12.4233 22.6294 9.47904 19.6851 9.47904 16.0669C9.47904 12.4487 12.4233 9.50439 16.0415 9.50439C19.6597 9.50439 22.604 12.4487 22.604 16.0669C22.604 19.6851 19.6597 22.6294 16.0415 22.6294Z" fill="#2C2D2F" />
                                                        <path d="M16.979 14.1919C16.979 13.2488 17.4472 12.4191 18.1595 11.9088C17.5203 11.5816 16.8075 11.3794 16.0415 11.3794C13.457 11.3794 11.354 13.4823 11.354 16.0669C11.354 18.6515 13.457 20.7544 16.0415 20.7544C18.3555 20.7544 20.2708 19.0648 20.6492 16.857C18.7613 17.4648 16.979 16.037 16.979 14.1919Z" fill="#2C2D2F" />
                                                    </g>
                                                    <defs>
                                                        <clipPath id="clip0_1109_1878">
                                                            <rect width="32" height="32" fill="white" />
                                                        </clipPath>
                                                    </defs>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                count++;

                            }
                        }
                    }


                </div>
                @{ var prod = productTable.FirstOrDefault();
                    if (prod != null) {
                    <div class="sales">
                        <div class="tag">New</div>
                        <div class="off">
                            <div class="discount">
                                <h2>10</h2>
                                <div class="text">
                                    <h3 class="h-47 bold">%</h3>
                                    <h4 class="h-27 bold">OFF</h4>
                                </div>
                            </div>
                            <h1 class="h-61 bold light-black mb-32">@prod.ProductName</h1>
                            <a href="@Url.Action("ProductDetail", "Home", new { productId = prod.ProductId })" class="cus-btn sec">Purchase Now</a>
                        </div>
                        <div class="product-img">
                            <img src="@prod.ImagePath" alt="">
                        </div>
                    </div>
                        }
                    }
            </div>
        </div>
    </section>
    <!-- Sales End -->
    <!-- All Product End -->
    <!-- reviews Area Start -->
    <section class="review ">
        <div class="container">
            <div class="heading mb-48 text-center">
                <h2>User’s Reviews</h2>
            </div>
            <div class="review-slider">
                <div class="reviews">
                    <h5 class="color-black h-21 bold mb-16">Sarah Miller</h5>
                    <p class="light-black mb-16">As a parent, it's such a delight to see my children's faces light up when they receive toys from this store.</p>
                    <div class="text-end">
                        <svg xmlns="http://www.w3.org/2000/svg" width="57" height="45" viewBox="0 0 57 45" fill="none">
                            <path d="M23.5993 6.85329V27.2648C23.5993 31.2509 22.8433 34.5498 21.3313 37.1614C18.4448 42.3845 13.3591 44.9961 6.07421 44.9961H4.21861L1.95066 44.5837V37.3675H2.36301C6.89892 37.3675 9.16687 35.0309 9.16687 30.3575V24.7907H6.48656C2.77537 24.7907 0.919769 22.8664 0.919769 19.0178V6.85329C0.919769 2.72974 2.77537 0.667969 6.48656 0.667969H18.0325C21.7437 0.667969 23.5993 2.72974 23.5993 6.85329ZM38.6502 44.9961C37.8255 44.9961 36.7946 44.8586 35.5576 44.5837V37.3675H35.9699C40.3684 37.3675 42.5676 35.0309 42.5676 30.3575V24.7907H40.0935C36.2448 24.7907 34.3205 22.8664 34.3205 19.0178V6.85329C34.3205 2.72974 36.2448 0.667969 40.0935 0.667969H51.6394C55.2131 0.667969 57 2.72974 57 6.85329V27.2648C57 39.0857 50.8834 44.9961 38.6502 44.9961Z" fill="#FBC270" />
                        </svg>
                    </div>
                </div>
                <div class="reviews">
                    <h5 class="color-black h-21 bold mb-16">John Doe</h5>
                    <p class="light-black mb-16">As a father, I can confidently say that this toy store is a treasure trove of joy for my kids. The quality and variety of toys available here never fail to amaze me. Every visit is a new adventure!</p>
                    <div class="text-end">
                        <svg xmlns="http://www.w3.org/2000/svg" width="57" height="45" viewBox="0 0 57 45" fill="none">
                            <path d="M23.5993 6.85329V27.2648C23.5993 31.2509 22.8433 34.5498 21.3313 37.1614C18.4448 42.3845 13.3591 44.9961 6.07421 44.9961H4.21861L1.95066 44.5837V37.3675H2.36301C6.89892 37.3675 9.16687 35.0309 9.16687 30.3575V24.7907H6.48656C2.77537 24.7907 0.919769 22.8664 0.919769 19.0178V6.85329C0.919769 2.72974 2.77537 0.667969 6.48656 0.667969H18.0325C21.7437 0.667969 23.5993 2.72974 23.5993 6.85329ZM38.6502 44.9961C37.8255 44.9961 36.7946 44.8586 35.5576 44.5837V37.3675H35.9699C40.3684 37.3675 42.5676 35.0309 42.5676 30.3575V24.7907H40.0935C36.2448 24.7907 34.3205 22.8664 34.3205 19.0178V6.85329C34.3205 2.72974 36.2448 0.667969 40.0935 0.667969H51.6394C55.2131 0.667969 57 2.72974 57 6.85329V27.2648C57 39.0857 50.8834 44.9961 38.6502 44.9961Z" fill="#FBC270" />
                        </svg>
                    </div>
                </div>
                <div class="reviews">
                    <h5 class="color-black h-21 bold mb-16">Michael Brown</h5>
                    <p class="light-black mb-16">I was impressed by the educational toys selection at this store. As a teacher, I value toys that can both entertain and educate, and this place has plenty of those. Highly recommended for parents and educators alike!</p>
                    <div class="text-end">
                        <svg xmlns="http://www.w3.org/2000/svg" width="57" height="45" viewBox="0 0 57 45" fill="none">
                            <path d="M23.5993 6.85329V27.2648C23.5993 31.2509 22.8433 34.5498 21.3313 37.1614C18.4448 42.3845 13.3591 44.9961 6.07421 44.9961H4.21861L1.95066 44.5837V37.3675H2.36301C6.89892 37.3675 9.16687 35.0309 9.16687 30.3575V24.7907H6.48656C2.77537 24.7907 0.919769 22.8664 0.919769 19.0178V6.85329C0.919769 2.72974 2.77537 0.667969 6.48656 0.667969H18.0325C21.7437 0.667969 23.5993 2.72974 23.5993 6.85329ZM38.6502 44.9961C37.8255 44.9961 36.7946 44.8586 35.5576 44.5837V37.3675H35.9699C40.3684 37.3675 42.5676 35.0309 42.5676 30.3575V24.7907H40.0935C36.2448 24.7907 34.3205 22.8664 34.3205 19.0178V6.85329C34.3205 2.72974 36.2448 0.667969 40.0935 0.667969H51.6394C55.2131 0.667969 57 2.72974 57 6.85329V27.2648C57 39.0857 50.8834 44.9961 38.6502 44.9961Z" fill="#FBC270" />
                        </svg>
                    </div>
                </div>
                <div class="reviews">
                    <h5 class="color-black h-21 bold mb-16">Olivia Greenr</h5>
                    <p class="light-black mb-16">Shopping at this toy store is always a delightful experience. The atmosphere is welcoming, and the toys are of exceptional quality. My kids always leave with big smiles and new favorite toys. Thank you for making playtime so special!</p>
                    <div class="text-end">
                        <svg xmlns="http://www.w3.org/2000/svg" width="57" height="45" viewBox="0 0 57 45" fill="none">
                            <path d="M23.5993 6.85329V27.2648C23.5993 31.2509 22.8433 34.5498 21.3313 37.1614C18.4448 42.3845 13.3591 44.9961 6.07421 44.9961H4.21861L1.95066 44.5837V37.3675H2.36301C6.89892 37.3675 9.16687 35.0309 9.16687 30.3575V24.7907H6.48656C2.77537 24.7907 0.919769 22.8664 0.919769 19.0178V6.85329C0.919769 2.72974 2.77537 0.667969 6.48656 0.667969H18.0325C21.7437 0.667969 23.5993 2.72974 23.5993 6.85329ZM38.6502 44.9961C37.8255 44.9961 36.7946 44.8586 35.5576 44.5837V37.3675H35.9699C40.3684 37.3675 42.5676 35.0309 42.5676 30.3575V24.7907H40.0935C36.2448 24.7907 34.3205 22.8664 34.3205 19.0178V6.85329C34.3205 2.72974 36.2448 0.667969 40.0935 0.667969H51.6394C55.2131 0.667969 57 2.72974 57 6.85329V27.2648C57 39.0857 50.8834 44.9961 38.6502 44.9961Z" fill="#FBC270" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- reviews Area End -->
    <!-- Blogs Area Start -->
    <section class="blog p-96">
        <div class="container">
            <div class="heading mb-48 text-center">
                <h2>Read Toy Stories</h2>
            </div>
            <div class="row">
                @if (ViewBag.Articles != null)
                {
                    int count2 = 0;
                    foreach (var article in ViewBag.Articles)
                    {
                        if (count2 == 4)
                        {
                            break;
                        }
                        if (article != null)
                        {



                            <div class="col-lg-4 col-md-6">
                                <div class="blog-card mb-24 mb-lg-0">
                                    <img src=@article.ImagePath class="w-100" alt="">
                                    <div class="content">
                                        <h4 class="color-black h-27 mb-16">@article.ArticleName</h4>
                                        <div class="name-btn">
                                            <div class="name">
                                                <p class="medium-black">@article.AuthorName</p>
                                            </div>
                                            <a href="@Url.Action("BlogDetail", "Homes", new { articleId = article.ArticleId })" class="light-btn primary" class="light-btn primary">Button <i class="far fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        }
                        count2++;
                    }




                }
            </div>
        </div>
    </section>

    }

    <!-- Blogs Area End -->
