
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebApplication.Models.ProductModel
<!-- Hero Banner start -->
<div class="page-title-banner">
    <div class="container">
        <div class="left-right-image">
            <img src="~/assets/media/page-title-banner/img-1.png"
                 class="left-img" alt>
            <img src="~/assets/media/page-title-banner/img-2.png"
                 class="right-img" alt>
        </div>
        <div class="content">
            <div class="title">
                <h2>Product Detail</h2>
            </div>
        </div>
    </div>
</div>

<!-- Main Content Start -->
<div class="page-content">

    <!-- Product Detail Start -->
    <section class="product-detail p-96">
        <div class="container">
            <div class="product-card ">
                <div class="row">
                    <div class="col-xl-7 col-lg-6">
                        <div class="image-block mb-lg-0 mb-32">
                            <img src="@Model.ImagePath" alt="">
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6">
                        <div class="content">
                            <div class="title">
                                <div class="name-price mb-8">
                                    <h2 class="h-47 bold light-black">@Model.ProductName</h2>
                                    <h3 class="h-47 bold light-black">– $@Model.Price</h3>
                                </div>
                            </div>
                            <div class="tag">
                                <div class="category mb-16">
                                    <h5 class="h-27 light-black">Category:</h5>
                                    <h6 class="light-black">@Model.Category</h6>
                                </div>
                                <div class="category">
                                    <h5 class="h-27 light-black">SKU:</h5>
                                    <h6 class="light-black">@Model.ProductId</h6>
                                </div>
                            </div>
                            <div class="quantity quantity-wrap">
                                <input class="decrement" type="button" value="-">
                                <input type="text" name="quantity" value="2" maxlength="2" size="1" class="number">
                                <input class="increment" type="button" value="+">
                            </div>
                            <div class="btn-block">
                                <a href="@Url.Action("LogIn", "Login")" class="cus-btn primary"> Add to Cart</a>
                                <a href="@Url.Action("LogIn", "Login")" class="cus-btn light st-2"> Purchase Now</a>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="heading">
                <h2 class="text-start">Product Detail</h2>
            </div>
            <div class="detail">
                <p class="light-black mb-24">
                    @Model.ProductDetail
                </p>
            </div>
            <div class="reviews ">
                <div class="heading">
                    <h2 class="text-start">Reviews (36)</h2>
                </div>
                <div class="row">
                    <div class="col-xl-7">
                        <div class="reviews-block mb-xl-0 mb-32">
                            <div class="author-stars mb-8">
                                <div class="author">
                                    <img src="~/assets/media/author/img-4.png" alt="">
                                    <h5 class="h-21 light-black sec">Sarah Roberts</h5>
                                </div>
                                <div class="stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                            <p class="light-black mb-32">My son absolutely loves his Buzz Lightyear toy! The interactive voice command feature and light-up laser action make it so much fun for him to play with.</p>
                            <div class="author-stars mb-8">
                                <div class="author">
                                    <img src="~/assets/media/author/img-5.png" alt="">
                                    <h5 class="h-21 light-black sec">Mark Larson</h5>
                                </div>
                                <div class="stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                            <p class="light-black mb-32">As a longtime fan of Toy Story, I couldn't resist getting the Buzz Lightyear toy for myself. It's a fantastic collectible with great articulation and accurate movie detailing.</p>
                            <div class="author-stars mb-8">
                                <div class="author">
                                    <img src="~/assets/media/author/img-6.png" alt="">
                                    <h5 class="h-21 light-black sec">Michael Thompson</h5>
                                </div>
                                <div class="stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                            <p class="light-black mb-53">Buzz Lightyear has become my son's new favorite toy. He loves how Buzz talks and responds to his commands.</p>
                            <div id="more" style="display: none;">
                                <div class="author-stars mb-8">
                                    <div class="author">
                                        <img src="~/assets/media/author/img-6.png" alt="">
                                        <h5 class="h-21 light-black sec">Michael Thompson</h5>
                                    </div>
                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                                <p class="light-black mb-53">Buzz Lightyear has become my son's new favorite toy. He loves how Buzz talks and responds to his commands.</p>
                            </div>
                            <button class="more">Load More Reviews <i class="far fa-chevron-down"></i></button>
                        </div>
                    </div>
                    <div class="col-xl-5">
                        <h3 class="h-47 bold color-white mb-32"> Add a Review</h3>
                        <form action="./product-detail.html">
                            <input type="text" id="name" placeholder="Name" class="form-control mb-32" required>
                            <input type="email" id="email" placeholder="Email" class="form-control mb-32" required>
                            <textarea name="review" class="form-control mb-32" placeholder="Your Review"></textarea>
                            <button type="submit" class="cus-btn primary w-100">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Detail End -->
</div>

<!-- Main Content End -->
