
@{
    ViewBag.Title = "BlogDetail";
    Layout = "~/Views/Shared/ALayout.cshtml";
}

@model WebApplication.Models.ArticleDataModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Striker HTML5 Template">

    <title>Toy Store Html Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon"
          href="~/assets/media/favicon.png">

    <!-- All CSS files -->
    <link rel="stylesheet" href="~/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="~/assets/css/vendor/slick.css">
    <link rel="stylesheet" href="~/assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="~/assets/css/vendor/ionrangeslider.css">
    <link rel="stylesheet" href="~/assets/css/vendor/aksVideoPlayer.css">
    <link rel="stylesheet" href="~/assets/css/app.css">
</head>


<!-- Hero Banner start -->
<div class="page-title-banner">
    <div class="container">
        <div class="left-right-image">
            <img src="~/assets/media/page-title-banner/img-1.png"
                 class="left-img" alt>
            <img src="~/assets/media/page-title-banner/img-2.png"
                 class="right-img" alt>
        </div>
        <div class="content">
            <div class="title">
                <h2>Blog Detail</h2>
            </div>
        </div>
    </div>
</div>
<!-- Main Content Start -->
<div class="page-content">

    <!-- Blog Detail Start -->
    <section class="blog-detail p-96">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 mb-xl-0 mb-32">
                    <div class="mb-32">
                        <form action="blog-detail.html" class="input-group search-bar">
                            <input type="text" placeholder="Search..." required />
                            <button class="search" type="submit">
                                <i class="far fa-search search-icon"></i>
                            </button>
                        </form>
                    </div>
                    <div class="categories-block mb-32">
                        <h2 class="h-27 bold light-black mb-16">
                            Categories
                        </h2>
                        <ul class="categorie unstyled">
                            <li><a href="">Lego Bricks</a></li>
                            <li><a href="">Plush Toys</a></li>
                            <li><a href="">Remote Control</a></li>
                            <li><a href="">Toy Sets</a></li>
                        </ul>
                    </div>
                    <div class="tag">
                        <h2 class="h-27 bold light-black mb-16">
                            Tags
                        </h2>
                        <ul class="unstyled">
                            <li><a href="">#toys</a></li>
                            <li><a href="">#kids</a></li>
                            <li><a href="">#children</a></li>
                            <li><a href="">#legos</a></li>
                            <li><a href="">#toyideas</a></li>
                            <li><a href="">#playtime</a></li>
                            <li><a href="">#kidsactivites</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-9">
                    <div class="author-detail mb-32">
                        <div class="author mb-24">
                            <div class="frame sec">

                                <div class="text">
                                    <h5>Author:</h5>
                                    <p>@Model.AuthorName</p>
                                </div>
                            </div>

                            <div class="frame">
                                <div class="text">
                                    <h5>Category</h5>
                                    <p>@Model.Category</p>
                                </div>
                            </div>
                        </div>
                        <h2 class="h-47 bold light-black">@Model.ArticleName</h2>
                    </div>
                    <div class="detail">
                        <p class="light-black mb-24">@Model.TextOfArticle</p>
                        <img src="@Model.ImagePath" class="w-100 br-30 mb-24" alt="">
                        <p class="light-black mb-24">@Model.TextOfArticle</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Detail End -->

</div>
<!-- Main Content End -->
