
@{
    ViewBag.Title = "HomeAdmin2";
    Layout = "~/Views/Shared/ALayout.cshtml";
}
@model WebApplication.Models.ProductModel
<!-- Hero Banner start -->
<div class="hero-banner-2">
    <div class="container">
        <div class="content">
            <div class="title mb-32">
                <h2 class="h-61 bold color-white">WONDER & EXCITEMENT</h2>
                <p class="color-white">
                    Discover the joy of play with our wide selection of toys for children of all ages.<br> Thank you for visiting the Online Toy Store. Happy shopping, and may your adventures in play begin!
                </p>
            </div>
            <a href="/HomeAdmin/ShopListing" class="cus-btn primary">Shop Now</a>
        </div>
    </div>
</div>

<!-- Main Content Start -->
<div class="page-content">

    <!-- services Start -->
    <div class="services p-96">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 mb-24 mb-lg-0">
                    <img src="~/assets/media/services/free-shipping.png" class="w-100 br-30" alt="">
                </div>
                <div class="col-lg-3 col-sm-6 mb-24 mb-lg-0">
                    <img src="~/assets/media/services/money-guarantee.png" class="w-100 br-30" alt="">
                </div>
                <div class="col-lg-3 col-sm-6 mb-24 mb-sm-0">
                    <img src="~/assets/media/services/online-support.png" class="w-100 br-30" alt="">
                </div>
                <div class="col-lg-3 col-sm-6 mb-24 mb-0">
                    <img src="~/assets/media/services/flexible-payment.png" class="w-100 br-30" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- services Start -->
    <!-- Top Seller Start -->
    <section class="top-seller">
        <div class="container">
            <div class="heading mb-48 text-center">
                <h2>Trendy Toys</h2>
            </div>
            <div class="product">
                <div class="row mb-16">
                    @{
                        var productTable = Model.dataForTable();

                        foreach (var product in productTable)
                        {
                            if (product != null && product.IsActive && product.SellCategory.Equals("Top Sellers"))
                            {
                                <div class="col-xl-3 col-lg-4 col-sm-6">
                                    <div class="product-card mb-32 mb-sm-0">
                                        <div class="img-block">
                                            <img src="@product.ImagePath" alt="" style="width: 100%; height: auto;">
                                        </div>
                                        <div class="content">
                                            <div class="name-price">
                                                <div class="product-name">
                                                    <h5 style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@product.ProductName</h5>
                                                </div>
                                                <div class="product-price">
                                                    <h5 class="bold">– $@product.Price</h5>
                                                </div>
                                            </div>


                                            @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post))
                                            {
                                                <input type="hidden" name="ProductId" value="@Model.ProductId">
                                                <button type="submit" class="cus-btn primary">Add to Cart</button>
                                            }


                                        </div>
                                    </div>
                                </div>
                            }

                        }

                    }

                </div>
                <div class="d-flex justify-content-center">
                    <a href="@Url.Action("ShopListing", "HomeAdmin")" class="cus-btn primary">Discover More </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Top Seller End -->
    <!-- Product Cards Start -->
    <section class="product-card p-96">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-24 mb-lg-0">
                    <a href=@Url.Action("ShopListing", "HomeAdmin") class="cards w-100">
                        <img src="~/assets/media/cards/card-1.png" class="w-100" alt="">
                        <h3 class="h-47 bold color-white">LEGO BRICKS</h3>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 mb-24 mb-lg-0">
                    <a href=@Url.Action("ShopListing", "HomeAdmin") class="cards w-100">
                        <img src="~/assets/media/cards/card-2.png" class="w-100" alt="">
                        <h3 class="h-47 bold color-white">TOY CARS</h3>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 offset-lg-0 offset-sm-3">
                    <a href=@Url.Action("ShopListing", "HomeAdmin") class="cards w-100">
                        <img src="~/assets/media/cards/card-3.png" class="w-100" alt="">
                        <h3 class="h-47 bold color-white">FLUFFY TOYS</h3>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Cards End -->
    <!-- Sales Start -->
    <section class="sales-product">
        <div class="container">
            <div class="d-flex flex-xl-row flex-column  gap-4">
                <div class="product st-2">
                    @{
                        int count = 0;

                        foreach (var product in productTable)
                        {
                            if (count >= 4) // Проверяем, отобразили ли уже 4 элемента
                            {
                                break; // Если отобразили, прерываем цикл
                            }

                            if (product != null && product.IsActive && product.SellCategory.Equals("On Sales"))
                            {
                                <div class="product-card sec">
                                    <div class="img-block">
                                        <img src=@product.ImagePath alt="">
                                    </div>
                                    <div class="content">
                                        <div class="name-price">
                                            <div class="product-name">
                                                <h5>@product.ProductName</h5>
                                            </div>
                                            <div class="product-price">
                                                <h5 class="bold">– $@product.Price</h5>
                                            </div>
                                        </div>
                                        <div class="btn-block">
                                            <a href="@Url.Action("ProductDetail", "HomeAdmin", new { productId = product.ProductId })" class="list-btn">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                                                    <g clip-path="url(#clip0_1109_1878)">
                                                        <path d="M31.8026 15.4416C31.517 15.123 24.6467 7.62939 16.0415 7.62939C7.43641 7.62939 0.56616 15.123 0.280473 15.4416C-0.0381523 15.7977 -0.0381523 16.3361 0.280473 16.6922C0.56616 17.0108 7.43653 24.5044 16.0415 24.5044C24.6465 24.5044 31.5169 17.0108 31.8026 16.6922C32.1212 16.3361 32.1212 15.7977 31.8026 15.4416ZM16.0415 22.6294C12.4233 22.6294 9.47904 19.6851 9.47904 16.0669C9.47904 12.4487 12.4233 9.50439 16.0415 9.50439C19.6597 9.50439 22.604 12.4487 22.604 16.0669C22.604 19.6851 19.6597 22.6294 16.0415 22.6294Z" fill="#2C2D2F" />
                                                        <path d="M16.979 14.1919C16.979 13.2488 17.4472 12.4191 18.1595 11.9088C17.5203 11.5816 16.8075 11.3794 16.0415 11.3794C13.457 11.3794 11.354 13.4823 11.354 16.0669C11.354 18.6515 13.457 20.7544 16.0415 20.7544C18.3555 20.7544 20.2708 19.0648 20.6492 16.857C18.7613 17.4648 16.979 16.037 16.979 14.1919Z" fill="#2C2D2F" />
                                                    </g>
                                                    <defs>
                                                        <clipPath id="clip0_1109_1878">
                                                            <rect width="32" height="32" fill="white" />
                                                        </clipPath>
                                                    </defs>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                count++;

                            }
                        }
                    }


                </div>
               @*@{ var prod = productTable.FirstOrDefault();
                   <div class="sales">
                    <div class="tag">New</div>
                    <div class="off">
                        <div class="discount">
                            <h2>10</h2>
                            <div class="text">
                                <h3 class="h-47 bold">%</h3>
                                <h4 class="h-27 bold">OFF</h4>
                            </div>
                        </div>
                        <h1 class="h-61 bold light-black mb-32">@prod.ProductName</h1>
                        <a href="@Url.Action("ProductDetail", "HomeAdmin", new { productId = prod.ProductId })" class="cus-btn sec">Purchase Now</a>
                    </div>
                    <div class="product-img">
                        <img src="@prod.ImagePath" alt="">
                    </div>
                 </div>
               }*@
            </div>
        </div>
    </section>
    <!-- Sales End -->
    <!-- All Product End -->
    <!-- reviews Area Start -->
    <section class="review ">
        <div class="container">
            <div class="heading mb-48 text-center">
                <h2>User’s Reviews</h2>
            </div>
            <div class="review-slider">
                <div class="reviews">
                    <h5 class="color-black h-21 bold mb-16">Sarah Miller</h5>
                    <p class="light-black mb-16">As a parent, it's such a delight to see my children's faces light up when they receive toys from this store.</p>
                    <div class="text-end">
                        <svg xmlns="http://www.w3.org/2000/svg" width="57" height="45" viewBox="0 0 57 45" fill="none">
                            <path d="M23.5993 6.85329V27.2648C23.5993 31.2509 22.8433 34.5498 21.3313 37.1614C18.4448 42.3845 13.3591 44.9961 6.07421 44.9961H4.21861L1.95066 44.5837V37.3675H2.36301C6.89892 37.3675 9.16687 35.0309 9.16687 30.3575V24.7907H6.48656C2.77537 24.7907 0.919769 22.8664 0.919769 19.0178V6.85329C0.919769 2.72974 2.77537 0.667969 6.48656 0.667969H18.0325C21.7437 0.667969 23.5993 2.72974 23.5993 6.85329ZM38.6502 44.9961C37.8255 44.9961 36.7946 44.8586 35.5576 44.5837V37.3675H35.9699C40.3684 37.3675 42.5676 35.0309 42.5676 30.3575V24.7907H40.0935C36.2448 24.7907 34.3205 22.8664 34.3205 19.0178V6.85329C34.3205 2.72974 36.2448 0.667969 40.0935 0.667969H51.6394C55.2131 0.667969 57 2.72974 57 6.85329V27.2648C57 39.0857 50.8834 44.9961 38.6502 44.9961Z" fill="#FBC270" />
                        </svg>
                    </div>
                </div>
                <div class="reviews">
                    <h5 class="color-black h-21 bold mb-16">John Doe</h5>
                    <p class="light-black mb-16">As a father, I can confidently say that this toy store is a treasure trove of joy for my kids. The quality and variety of toys available here never fail to amaze me. Every visit is a new adventure!</p>
                    <div class="text-end">
                        <svg xmlns="http://www.w3.org/2000/svg" width="57" height="45" viewBox="0 0 57 45" fill="none">
                            <path d="M23.5993 6.85329V27.2648C23.5993 31.2509 22.8433 34.5498 21.3313 37.1614C18.4448 42.3845 13.3591 44.9961 6.07421 44.9961H4.21861L1.95066 44.5837V37.3675H2.36301C6.89892 37.3675 9.16687 35.0309 9.16687 30.3575V24.7907H6.48656C2.77537 24.7907 0.919769 22.8664 0.919769 19.0178V6.85329C0.919769 2.72974 2.77537 0.667969 6.48656 0.667969H18.0325C21.7437 0.667969 23.5993 2.72974 23.5993 6.85329ZM38.6502 44.9961C37.8255 44.9961 36.7946 44.8586 35.5576 44.5837V37.3675H35.9699C40.3684 37.3675 42.5676 35.0309 42.5676 30.3575V24.7907H40.0935C36.2448 24.7907 34.3205 22.8664 34.3205 19.0178V6.85329C34.3205 2.72974 36.2448 0.667969 40.0935 0.667969H51.6394C55.2131 0.667969 57 2.72974 57 6.85329V27.2648C57 39.0857 50.8834 44.9961 38.6502 44.9961Z" fill="#FBC270" />
                        </svg>
                    </div>
                </div>
                <div class="reviews">
                    <h5 class="color-black h-21 bold mb-16">Michael Brown</h5>
                    <p class="light-black mb-16">I was impressed by the educational toys selection at this store. As a teacher, I value toys that can both entertain and educate, and this place has plenty of those. Highly recommended for parents and educators alike!</p>
                    <div class="text-end">
                        <svg xmlns="http://www.w3.org/2000/svg" width="57" height="45" viewBox="0 0 57 45" fill="none">
                            <path d="M23.5993 6.85329V27.2648C23.5993 31.2509 22.8433 34.5498 21.3313 37.1614C18.4448 42.3845 13.3591 44.9961 6.07421 44.9961H4.21861L1.95066 44.5837V37.3675H2.36301C6.89892 37.3675 9.16687 35.0309 9.16687 30.3575V24.7907H6.48656C2.77537 24.7907 0.919769 22.8664 0.919769 19.0178V6.85329C0.919769 2.72974 2.77537 0.667969 6.48656 0.667969H18.0325C21.7437 0.667969 23.5993 2.72974 23.5993 6.85329ZM38.6502 44.9961C37.8255 44.9961 36.7946 44.8586 35.5576 44.5837V37.3675H35.9699C40.3684 37.3675 42.5676 35.0309 42.5676 30.3575V24.7907H40.0935C36.2448 24.7907 34.3205 22.8664 34.3205 19.0178V6.85329C34.3205 2.72974 36.2448 0.667969 40.0935 0.667969H51.6394C55.2131 0.667969 57 2.72974 57 6.85329V27.2648C57 39.0857 50.8834 44.9961 38.6502 44.9961Z" fill="#FBC270" />
                        </svg>
                    </div>
                </div>
                <div class="reviews">
                    <h5 class="color-black h-21 bold mb-16">Olivia Greenr</h5>
                    <p class="light-black mb-16">Shopping at this toy store is always a delightful experience. The atmosphere is welcoming, and the toys are of exceptional quality. My kids always leave with big smiles and new favorite toys. Thank you for making playtime so special!</p>
                    <div class="text-end">
                        <svg xmlns="http://www.w3.org/2000/svg" width="57" height="45" viewBox="0 0 57 45" fill="none">
                            <path d="M23.5993 6.85329V27.2648C23.5993 31.2509 22.8433 34.5498 21.3313 37.1614C18.4448 42.3845 13.3591 44.9961 6.07421 44.9961H4.21861L1.95066 44.5837V37.3675H2.36301C6.89892 37.3675 9.16687 35.0309 9.16687 30.3575V24.7907H6.48656C2.77537 24.7907 0.919769 22.8664 0.919769 19.0178V6.85329C0.919769 2.72974 2.77537 0.667969 6.48656 0.667969H18.0325C21.7437 0.667969 23.5993 2.72974 23.5993 6.85329ZM38.6502 44.9961C37.8255 44.9961 36.7946 44.8586 35.5576 44.5837V37.3675H35.9699C40.3684 37.3675 42.5676 35.0309 42.5676 30.3575V24.7907H40.0935C36.2448 24.7907 34.3205 22.8664 34.3205 19.0178V6.85329C34.3205 2.72974 36.2448 0.667969 40.0935 0.667969H51.6394C55.2131 0.667969 57 2.72974 57 6.85329V27.2648C57 39.0857 50.8834 44.9961 38.6502 44.9961Z" fill="#FBC270" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- reviews Area End -->
    <!-- Blogs Area Start -->
    @if (ViewBag.Articles != null){
        int count2 = 0;
        foreach (var article in ViewBag.Articles)
        {
            if (count2 == 4)
            {
            break;
            }
            if (article != null)
            {
            <section class="blog p-96">
                <div class="container">
                    <div class="heading mb-48 text-center">
                        <h2>Read Toy Stories</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="blog-card mb-24 mb-lg-0">
                                <img src=@article.ImagePath class="w-100" alt="">
                                <div class="content">
                                    <h4 class="color-black h-27 mb-16">@article.ArticleName</h4>
                                    <div class="name-btn">
                                        <div class="name">
                                            <p class="medium-black">@article.AuthorName</p>
                                        </div>
                                        <a href="@Url.Action("BlogDetail", "HomeAdmin", new { articleId = article.ArticleId })" class="light-btn primary" class="light-btn primary">Button <i class="far fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            }
            count2++;
        }
    



    }

    <!-- Blogs Area End -->




