@{
    ViewBag.Title = "Add Article";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

@model WebApplication.Models.ArticleDataModel

<h3>Add New Article</h3>

@using (Html.BeginForm("AddArticleAction", "ManageContent", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <label for="articleTitle">Number</label>
        @*<input type="text" class="form-control" id="articleNumber" name="ArticleNumber" required>*@

        <textarea class="form-control" id="articleNumber" name="ArticleNumber" rows="5" required>@Model.ArticleNumber</textarea>
    </div>
    <div class="form-group">
        <label for="articleTitle">Title</label>
        <textarea class="form-control" id="ArticleName" name="ArticleName" required>@Model.ArticleName</textarea>
    </div>

    <div class="form-group">
        <label for="articleAuthor">Author</label>
        <textarea class="form-control" id="articleAuthor" name="AuthorName" required>@Model.AuthorName</textarea>
    </div>

    <div class="form-group">
        <label for="articleCategory">Category</label>
        <textarea class="form-control" id="Category" name="Category" required>@Model.Category</textarea>
    </div>

    <div class="form-group">
        <label for="articleContent">Content</label>
        <textarea class="form-control" id="articleContent" name="TextOfArticle" rows="5" required>@Model.TextOfArticle</textarea>
    </div>

    <div class="form-group">
        <label for="articleImage">Image</label>
        <input type="file" class="form-control-file" id="articleImage" name="ArticleImage">
        @Html.ValidationMessage("ArticleImage", "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Save changes</button>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
}