@{
    ViewBag.Title = "Edit Article";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

@model WebApplication.Models.ArticleDataModel

<h3>Edit Article # @Model.ArticleNumber</h3>


@using (Html.BeginForm("EditArticleAction", "ManageContent", FormMethod.Post))
{

    @Html.HiddenFor(model => model.ArticleNumber)

    <div class="form-group">
        @Html.LabelFor(model => model.ArticleName)
        @Html.TextBoxFor(model => model.ArticleName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AuthorName)
        @Html.TextBoxFor(model => model.AuthorName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Category)
        @Html.TextBoxFor(model => model.Category, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TextOfArticle)
        @Html.TextAreaFor(model => model.TextOfArticle, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="ArticleImage">Article Image</label>
        <input type="file" id="ArticleImage" name="ArticleImage" />
    </div>

    <button type="submit" class="btn btn-primary">Save changes</button>

}