@using System.Web.Optimization

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Striker HTML5 Template">

    <title>Online Toy Store</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon"
          href="~/assets/media/favicon.png">


    <style>
        .footer-main {
            text-align: center;
        }

        .footer-about {
            margin-bottom: 32px;
        }

            .footer-about p {
                color: white;
                margin-bottom: 16px;
            }

        .contact-list {
            padding: 0;
            list-style: none;
        }

            .contact-list li {
                margin-bottom: 16px;
            }

            .contact-list a {
                color: white;
                text-decoration: none;
            }

        .social-links {
            margin: 32px 0;
        }

            .social-links a {
                color: white;
                font-size: 24px;
                margin: 0 10px;
                display: inline-block;
            }

                .social-links a:hover {
                    color: #ddd;
                }

        .footer-main p {
            color: white;
        }
    </style>

    <!-- All CSS files -->
    @Styles.Render("~/bundles/bootstrap/assets/css")
    @Styles.Render("~/bundles/font-awesome/assets/css")
    @Styles.Render("~/bundles/slick/css")
    @Styles.Render("~/bundles/slick-theme/css")
    @Styles.Render("~/bundles/aksVideoPlayer/css")
    <link rel="stylesheet" href="~/assets/css/app.css">
    @Styles.Render("~/bundles/app")  <!-- Бандл не работает, потому оставлю ссылку. Причину, почему конкретно он не работает, не нашла -->

    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}
</head>
<body>

    <!-- Header Area Start -->
    <header class="large-screens">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg p-0">
                <div class="collapse navbar-collapse" id="mynavbar">
                    <div class="left-nav">
                        <a href="@Url.Action("HomeAdmin2", "HomeAdmin")" class="navbar-brand m-0 p-0"><img alt src="~/assets/media/logo.png"></a>
                        <ul class="navbar-nav m-0">
                            <li class="has-children">


                            </li>
                            <li class="menu-item">

                                @Html.ActionLink("Home", "HomeAdmin2", "HomeAdmin", new { @class = "menu-link" })
                            </li>

                            <li class="menu-item">

                                @Html.ActionLink("About us", "About", "HomeAdmin", new { @class = "menu-link" })
                            </li>
                        </ul>
                    </div>
                    <div class="search-block">

                        <form action="~/HomeAdmin/ShopListing" class="input-group search-bar">
                            <input type="text" name="query" placeholder="Search..." required>
                            <button class="search" type="submit">
                                <i class="far fa-search search-icon"></i>
                            </button>
                        </form>
                    </div>
                    <div class="right-nav">
                        <ul class="navbar-nav m-0">

                            <li class="menu-item">
                                @Html.ActionLink("Admin", "AdminAccount", "Admin", new { area = "" }, new { @class = "menu-link" })
                            </li>
                            <li class="menu-item">
                                @Html.ActionLink("Logout", "LogOut", "Login", new { area = "" }, new { @class = "menu-link" })
                            </li>



                            <li class="has-children">
                                @Html.ActionLink("Shop", "ShopListing", "HomeAdmin", new { @class = "menu-link" })

                            </li>
                            <li class="has-children">
                                @Html.ActionLink("Blog", "Blog", "Home", new { @class = "menu-link" })

                            </li>
                        </ul>
                        </li>
                        </ul>

                    </div>
                </div>
            </nav>
        </div>
    </header>
    <header class="small-screen">
        <div class="container-fluid">
            <div class="mobile-menu">
                <div>
                    <a class="navbar-brand" href="index.html">
                        <img alt
                             src="./~/assets/media/logo.png">
                    </a>
                </div>
                <div class="hamburger-menu">
                    <div class="bar"></div>
                </div>
            </div>
            <nav class="mobile-navar d-xl-none">
                <ul>
                    <li class="has-children">
                        Home <span class="icon-arrow"></span>
                        <ul class="children">
                            <li><a href="index.html">Home 1</a></li>
                            <li><a href="index-2.html" class="active">Home 2</a></li>
                        </ul>
                    </li>
                    <li class="has-children">
                        Pages <span class="icon-arrow"></span>
                        <ul class="children">
                            <li><a href="about.html">About us</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="blog-detail.html">Blog Detail</a></li>
                            <li><a href="product-detail.html">Product Detail</a></li>
                            <li><a href="cart.html">Cart</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                            <li><a href="wishlist.html">Wishlist</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </li>
                    <li class="has-children">
                        Shop <span class="icon-arrow"></span>
                        <ul class="children">
                            <li><a href="shop-listing-1.html">Shop Grid</a></li>
                            <li><a href="shop-listing-2.html">Shop Listing</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- Header Area end -->

    <div>
        @RenderBody()
    </div>

    <!-- Footer Area Start  -->
    <footer class="bg-light-blue">
        <div class="container">
            <div class="footer-main mb-64">
                <div class="footer-info">
                    <div class="footer-about">
                        <div class="logo mb-16">
                            <a href="./index.html">
                                <img src="./~/assets/media/logo.png" alt="">
                            </a>
                        </div>
                        <p>
                            Welcome to our world of imagination and play! At our Toy Emporium, we believe in creating magical experiences for children and igniting their joy.
                        </p>

                        <div class="contact">
                            <ul class="contact-list">
                                <li>
                                    <a href="tel:0788815133"> <i class="fal fa-phone-alt"></i> <span>+233 898 0897</span></a>
                                </li>
                                <li>
                                    <a href="mailto:info@example.com"><i class="fal fa-envelope"></i> <span>Admin@example.com</span></a>
                                </li>
                            </ul>
                        </div>

                        <div class="social-links">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a href="https://www.facebook.com/groups/8503325165/?ref=share&mibextid=NSMWBT" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://x.com/UTM_md" target="_blank">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.instagram.com/utmoldova" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <p class="color-white text-center">©2024 All Rights Reserved.</p>
        </div>
    </footer>
    <!-- Footer Area End  -->
    <!-- Footer Area End  -->
    <!-- Jquery Js + Site Scripts in one bundle -->
    @Scripts.Render("~/bundles/vendor/js")


    @RenderSection("scripts", required: false)
</body>
</html>