@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/ULayout.cshtml";
}

@model WebApplication.Models.UserDataModel

<!-- Hero Banner start -->
<div class="page-title-banner">
    <div class="container">
        <div class="left-right-image">
            <img src="~/assets/media/page-title-banner/img-1.png" class="left-img" alt>
            <img src="~/assets/media/page-title-banner/img-2.png" class="right-img" alt>
        </div>
        <div class="content">
            <div class="title">
                <h2>Cart</h2>
            </div>
        </div>
    </div>
</div>

<!-- Main Content Start -->
<div class="page-content">

    <!-- Cart Detail Start -->
    <section class="wishlist p-96">
        <div class="container">

            @if (Model.CkeckIfCartContainItems(Model.CartId))
            {
                <!-- Sales Start -->
                <section class="sales-product">
                    <div class="container">
                        <div class="d-flex flex-column align-items-center">
                            @{
                                var productTable = Model.dataForTableCart(Model.UserId);
                                foreach (var product in productTable)
                                {
                                    if (product != null && product.IsActive)
                                    {
                                        <div class="product-card sec text-center mb-4" style="max-width: 400px;">
                                            <div class="img-block mb-3">
                                                <img src="@product.ImagePath" alt="" class="img-fluid">
                                            </div>
                                            <div class="content">
                                                <div class="name-price mb-2">
                                                    <h5>@product.ProductName</h5>
                                                    <h5 class="bold">– $@product.Price</h5>
                                                </div>
                                                <div class="product-quantity mb-3">
                                                    <h5 class="bold">Quantity: @Model.getCountInCart(Model.CartId, product.ProductId)</h5>
                                                </div>
                                                <div class="btn-block d-flex justify-content-center">
                                                    @{
                                                        var countCart = Model.getCountInCart(Model.CartId, product.ProductId);
                                                    }
                                                    @using (Html.BeginForm("IncreaseCartCount", "Cart", FormMethod.Post, new { @class = "mx-2" }))
                                                    {
                                                        <input type="hidden" name="ProductId" value="@product.ProductId" />
                                                        <input type="hidden" name="CartId" value="@Model.CartId" />
                                                        <button type="submit" class="cus-btn primary">Increase</button>
                                                    }
                                                    @using (Html.BeginForm("DecreaseCartCount", "Cart", FormMethod.Post, new { @class = "mx-2" }))
                                                    {
                                                        <input type="hidden" name="ProductId" value="@product.ProductId" />
                                                        <input type="hidden" name="CartId" value="@Model.CartId" />
                                                        <button type="submit" class="cus-btn primary">Decrease</button>
                                                    }
                                                    <a href="@Url.Action("DeleteProductFromCart", "Cart", new { productId = product.ProductId })" class="cus-btn primary mx-2">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </a>
                                                    <a href="@Url.Action("ProductDetail", "HomeUser", new { productId = product.ProductId })" class="cus-btn primary mx-2">
                                                        <i class="fas fa-info-circle"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                </section>
                <!-- Sales End -->
            }
            else
            {
                <h1 class="text-center" style="font-size: 1.7em;">Cart is empty</h1>
            }


            <div class="text-center mt-4">
                <a href="@Url.Action("ShopListing", "HomeUser")" class="cus-btn primary d-inline-block mx-2">Continue Shopping</a>
                <a href="@Url.Action("Checkout", "HomeUser")" class="cus-btn primary d-inline-block mx-2">Go to Checkout</a>
            </div>

        </div>
    </section>
    <!-- Cart Detail End -->
</div>

<!-- Main Content End -->
