
@{
    ViewBag.Title = "ViewDetailsAboutOrder";
    Layout = "~/Views/Shared/LayoutUsers.cshtml";
}
@using WebApplication.BL.Core

@model Dictionary <WebApplication.Models.ProductModel, int>
@*@model Dictionary <WebApplication.Models.OrderModel, int>*@
@*@model WebApplication.Models.OrderModel*@



<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Active</th>

        </tr>
    </thead>
    <tbody id="productTable">
        @{
            foreach (var item in Model)
            {
                if (item.Key != null)
                {
                    <tr>
                        <td>@item.Key.ProductNumber</td>
                        <td>
                            @if (!string.IsNullOrEmpty(item.Key.ImagePath))
                            {
                                <img src="@Url.Content(item.Key.ImagePath)" alt="Product Image" style="max-width: 100px; height: auto;" />
                            }
                            else
                            {
                                <span>No image</span>
                            }
                        </td> <!-- Колонка изображения -->
                        <td>@item.Key.ProductName</td>
                        <td>@item.Key.Category</td>
                        <td>@item.Key.Price</td>
                        <td>
                            <input type="checkbox" class="active-checkbox" @(item.Key.IsActive ? "checked" : "") disabled>
                        </td>

                    </tr>
                }
            }
        }

    </tbody>
</table>

@{ 
    double totalPrice = 0;
    foreach (var product in Model)
    { 
    totalPrice += product.Key.Price * product.Value;
    }

}

<h1>Total price: @totalPrice </h1> 
